* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'SF Pro Text', 'Myriad Set Pro', 'SF Pro Icons', 'Helvetica Neue',
    'Helvetica', 'Arial', sans-serif;
  font-size: 18px;
}

@media screen and (min-width: 792px) {
  body {
    font-size: 12px;
  }
}
@media screen and (min-width: 910px) {
  body {
    font-size: 14px;
  }
}
@media screen and (min-width: 1032px) {
  body {
    font-size: 16px;
  }
}
@media screen and (min-width: 1154px) {
  body {
    font-size: 18px;
  }
}

header {
  margin: 2.25em;
}

nav ul {
  align-items: end;
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  letter-spacing: .04em;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  position: relative;
}
@media screen and (min-width: 792px) {
  nav ul {
    flex-direction: row;
    padding: 0 3em;
  }
}

nav ul li {
  text-align: right;
  width: 100%;
}
@media screen and (min-width: 792px) {
  nav ul li {
    text-align: center;
    width: auto;
  }
}

nav a {
  color: #ccc;
  display: block;
  padding: .75em 1em;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

nav a:hover,
nav a:focus {
  color: #4479b0;
  outline: none;
}

nav a.active {
  color: #000;
}

.nav-slider-bar {
  background: #000;
  bottom: -1.5px;
  display: none;
  height: 0;
  left: 0;
  padding: 0;
  position: absolute;
  transition: all 1s ease;
  width: 0;
}

@media screen and (min-width: 792px) {
  .nav-slider-bar {
    height: 2px;
  }
}

.current-time {
  border: 4px solid;
  border-radius: 4px;
  color: transparent;
  display: none;
  font-size: 2.375em;
  margin: .5em auto;
  padding: .125em .25em;
  text-align: center;
  transition: color .5s ease;
}

@media screen and (min-width: 642px) {
  .current-time {
    border-width: 6px;
    font-size: 5em;
  }
}

@media screen and (min-width: 792px) {
  .current-time {
    border-width: 8px;
    font-size: 8em;
  }
}

.current-time .blinking {
  animation: blinkingText 1.25s infinite;
}

@keyframes blinkingText {
  0% {
    color: inherit;
  }
  49% {
    color: inherit;
  }
  60% {
    color: transparent;
  }
  99% {
    color: transparent;
  }
  100% {
    color: inherit;
  }
}
